#logo For Later
#message= @message
%form{:action=>'/', :method=>'post'}
	%span url:	
	%input{:type=>'text', :value=>'', :name=>'url'}
	%input{:type=>'submit', :value=>'add'}

#bookmarks
	- @bookmarks.each do |bookmark|
		.bookmark
			%a{:class=>'url', :href=>bookmark}= bookmark
			%a{:class=>'remove', :href=>'/remove?url=' + bookmark}
				%img{:src=>'images/trash.png'}	
