!!!
%html
  %head
    %link{:href => "styles.css", :type => "text/css", :rel => "stylesheet"}
    %title For Later
  %body
    #container
      = yield
    #footer
      %span running on 
      %a{:href=>'http://heroku.com'} 
        %img{:src=>'images/heroku.png'}