=action-link(!width)
  width = !width
  display: block
  float: left

=reset
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

html
  +reset
body
  +reset
  a
    color: #29264D
    &:hover
      color: #B02B2C
  input
    font-size: 25px
  #header
    background-color: #29264D
    height: 40px
    #logo
      font-size: 25px
      font-family: arial,helvetica,sans-serif
      color: #fff
      padding: 5px
  #container
    margin: 15px auto
    width: 550px
    #url
      font-size: 35px
  #bookmarks
    background-color: #fff
    margin-top: 20px
    .bookmark
      border-bottom: 1px dashed #777
      font-size: 30px
      width: 490px
      float: left
      padding: 5px
      a.url
        +action-link(455px)
        overflow: hidden
      a.remove
        +action-link(32px)    
        img
          border: 0px
  
#footer
  position: absolute
  bottom: 0
  left: 90%
  a img
    border: 0px
